/* === Remove input autofocus webkit === */
*:focus {outline: none;}






/* === List Styles === */
.contact_form ul {
    width:800px;
    list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.contact_form li{
	padding:12px; 
	border-bottom:1px solid #eee;
	position:relative;

} 



.required_notification {
	color:#d45252; 
	margin:-10px 0 0 0;
	display:inline;
	float:right;
}
.contact_form {
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
}
/* === Form Elements === */
.contact_form span {
	width:150px;
	margin-top: 3px;
	display:inline-block;
	float:left;
	padding:3px;
}

.contact_form textarea {padding:8px; width:700px;}
.contact_form button {margin-left:156px;}

.contact_form input {
	width: 300px;
	display:inline-block;

}
	/* form element visual styles */
	.contact_form input, .contact_form textarea { 
		border:1px solid #aaa;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
		border-radius:2px;

		-moz-transition: padding .25s; 
		-webkit-transition: padding .25s; 
		-o-transition: padding .25s;
		transition: padding .25s;
	}
	.contact_form input:focus, .contact_form textarea:focus {
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
		padding-right:70px;
	}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}
/* === HTML5 validation styles === */	
.contact_form input:required, .contact_form textarea:required {
	background: #fff url(../images/red_asterisk.png) no-repeat 98% center;
}
.contact_form input:required:valid,.contact_form textarea:required:valid {
	 background: #fff url(../images/valid.png) no-repeat 98% center;
	 box-shadow: 0 0 5px #5cd053;
	 border-color: #28921f;
 }

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
	background: #fff url(../images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}

/* === Form hints === */
.form_hint {
	background: #d45252;
	height: 30px;
	border-radius: 3px 3px 3px 3px;
	color: white;
    font-size: 12px;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	left: 470px;
	top: 8px;
}
.form_hint::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}

	
/* === Button Style === */
button.submit {
	background-color: #68b12f;
	background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
	background: -webkit-linear-gradient(top, #68b12f, #50911e);
	background: -moz-linear-gradient(top, #68b12f, #50911e);
	background: -ms-linear-gradient(top, #68b12f, #50911e);
	background: -o-linear-gradient(top, #68b12f, #50911e);
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	-webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
	-moz-box-shadow: 0 1px 0 0 #9fd574 inset;
	-ms-box-shadow: 0 1px 0 0 #9fd574 inset;
	-o-box-shadow: 0 1px 0 0 #9fd574 inset;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
	opacity:.85;
	cursor: pointer; 
}
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;
	
}

input, select, textarea {
    margin:0; padding:0; font-size:0.85em; outline:none;
    font-family:inherit;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    box-sizing:border-box;}

/* ----------------------------------------------  Inputs, textareas and selects  ---------------------------------------------- */


input, textarea, select, div.styled {
    width:12em; border-radius:2px; border: solid 1px #ccc; padding:0.4em;}

div.styled, select, input[type="submit"], input[type="button"],
input:after {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);}

input, textarea, input {
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);}

.ie9 input{ line-height:normal; } /* Get the stuff to line up right */

textarea { width:100%; height:10em; }

/* ----------------------------------------------  Select menu  ---------------------------------------------- */

/* For IE and Firefox */

div.styled { overflow:hidden; padding:0; margin:0; }

.ie7 div.styled {border:none;}

div.styled select {
    width:115%; background-color:transparent; background-image:none;
    -webkit-appearance: none; border:none; box-shadow:none;}

.ie7 div.styled select {
    width:100%; background-color:#fff; border: solid 1px #ccc;
    padding:0.3em 0.5em;}

/* ----------------------------------------------  File field  ----------------------------------------------  */

/* Webkit Only */




/* ----------------------------------------------  Checkboxes and Radio inputs  ----------------------------------------------  */

input[type="radio"],
input[type="checkbox"] { position: absolute; left: -999em; }

label:before {
    display: inline-block; position: relative; top:0.25em; left:-2px;
    content:''; width:25px; height:25px;
    background-image:url(../images/formelements.png); }

input[type="checkbox"] + label:before { background-position: 0 -25px;}
input[type="checkbox"]:checked + label:before {background-position: 0 0 ; }

input[type="radio"] + label:before { background-position: -25px -25px;}
input[type="radio"]:checked + label:before { background-position: -25px 0;}

/* Remove the custom styling for IE 7-8 */

.ie8 label:before { display:none; content:none; }

.ie8 input[type="checkbox"],
.ie8 input[type="radio"],
.ie7 input[type="checkbox"],
.ie7 input[type="radio"]{
    position: static; left:0; }

.ie8 input[type="checkbox"],
.ie8 input[type="radio"] {
    position:relative; top:5px; margin-right:0.5em;}

input[type="text"]:focus, textarea:focus {
    border-color:#000;
}

/* ---------------------------------------------- Form Submit and Next buttons ---------------------------------------------- */

input[type="submit"],
input[type="button"] {
    padding:0.5em 1em; line-height:1em; cursor:pointer;
    border-radius:4px; color:#000; font-weight:bold; font-size:inherit;
    border:solid 1px #ccc;	box-shadow:0 1px 5px rgba(0,0,0,0.2);
    background-position: center bottom;}

/* Gradient Generator by : http://www.colorzilla.com/gradient-editor/ */

input[type="submit"]:active,
input[type="button"]:active {-webkit-box-shadow: none; box-shadow:none;}

/* IE7 needs you to change the background to transparent when using image background for submit buttons */

/*----------------------------------------------  Media Queries ----------------------------------------------  */

@media screen and (max-width: 600px) {
    body { width:80%; font-size:15px; }
}/* end of query */

@media screen and (max-width: 400px) {
    input[type="text"], textarea, select, div.styled { width:100% }
}/* end of query */
