.headerfont {
    font-weight: 100;
    margin-top: 10px;
    float: left;
    margin-left: 20%;
    cursor:pointer;
}
.headerfont a{
    color: #fff;
    text-decoration:none;
}
.loginbutton a{
    text-decoration:none;
}
.loginbutton{
    display:inline-block;
    float:right;
    margin-right: 20%;
    margin-top: 5px;
    border-radius:4px;
    border:none;cursor:pointer;
    border-bottom:3px solid #0078b3;*border-bottom:none;
    color:#fff;
    display: block;
    text-decoration:none;
    font-size:16px;
    padding: 10px;
    text-align:center;outline:none;font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
    background:#2795dc;
}
.user {
    display: block;
    float: right;
    margin-right: 20%;
    margin-top: 10px;
    background-color: inherit;
}
