<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>

  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.job.web.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.job.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddResumeServlet</servlet-name>
    <servlet-class>com.job.servlet.AddResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddResumeServlet</servlet-name>
    <url-pattern>/AddResumeServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.job.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.job.servlet.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ReadResumeServlet</servlet-name>
    <servlet-class>com.job.servlet.ReadResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadResumeServlet</servlet-name>
    <url-pattern>/ReadResumeServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ImgServlet</servlet-name>
    <servlet-class>com.job.servlet.ImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgServlet</servlet-name>
    <url-pattern>/ImgServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetResumeServlet</servlet-name>
    <servlet-class>com.job.servlet.GetResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResumeServlet</servlet-name>
    <url-pattern>/GetResumeServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PhotoServlet</servlet-name>
    <servlet-class>com.job.servlet.PhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServlet</servlet-name>
    <url-pattern>/PhotoServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HasResumeServlet</servlet-name>
    <servlet-class>com.job.servlet.HasResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HasResumeServlet</servlet-name>
    <url-pattern>/HasResumeServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateResumeServlet</servlet-name>
    <servlet-class>com.job.servlet.UpdateResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateResumeServlet</servlet-name>
    <url-pattern>/UpdateResumeServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteResumeServlet</servlet-name>
    <servlet-class>com.job.servlet.DeleteResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteResumeServlet</servlet-name>
    <url-pattern>/DeleteResumeServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetJobServlet</servlet-name>
    <servlet-class>com.job.servlet.GetJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetJobServlet</servlet-name>
    <url-pattern>/GetJobServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JobListServlet</servlet-name>
    <servlet-class>com.job.servlet.JobListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobListServlet</servlet-name>
    <url-pattern>/JobListServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>JobServlet</servlet-name>
    <servlet-class>com.job.servlet.JobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobServlet</servlet-name>
    <url-pattern>/JobServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ApplyJobServlet</servlet-name>
    <servlet-class>com.job.servlet.ApplyJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyJobServlet</servlet-name>
    <url-pattern>/ApplyJobServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MyJobServlet</servlet-name>
    <servlet-class>com.job.servlet.MyJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJobServlet</servlet-name>
    <url-pattern>/MyJobServlet</url-pattern>
  </servlet-mapping>
</web-app>